<ion-view ng-controller="SelectOrderGroupCtrl as vm">
  <ion-content class="has-header">
  <h4>{{vm.header}}</h4>

<div class="card">

 <div class="item"> 
        Navigation Menu     
  </div>

  
  
    <div class="row item-divider">
        <div class="col">Groups</div>
        <div class="col">Available</div>
        <div class="col">Remaining</div>
        <div class="col">Pending Transmission</div>
        <div class="col">Received</div> 
        <i class="icon ion-chevron-right"></i>
    </div>

 <!--  <div class="row item button button-small" ng-repeat="subgroup in vm.orderGroups">
        <div class="col col-50">{{subgroup.name}}</div>
        <div class="col">{{subgroup.available}}</div>
        <div class="col">{{subgroup.remaining}}</div>
        <div class="col">{{subgroup.pendingTransmission}}</div>
        <div class="col">{{subgroup.received}}</div>   
  </div> -->

<div class="list">
  <a class="row item item-text-wrap" ng-repeat="subgroup in vm.orderGroups" ui-sref="app.selectcategory">       
        <div class="col">{{subgroup.name}}</div>
        <div class="col">{{subgroup.available}}</div>
        <div class="col">{{subgroup.remaining}}</div>
        <div class="col">{{subgroup.pendingTransmission}}</div>
        <div class="col">{{subgroup.received}}</div>
        <i class="icon ion-chevron-right"></i>
  </a>
</div>

<!-- <ul class="list">
  <li class="row item item-checkbox" ng-repeat="subgroup in vm.orderGroups">       
        <div class="col col-50">{{subgroup.name}}</div>
        <div class="col">{{subgroup.available}}</div>
        <div class="col">{{subgroup.remaining}}</div>
        <div class="col">{{subgroup.pendingTransmission}}</div>
        <div class="col">{{subgroup.received}}</div>
  </li>
</ul> -->

 
</div>

  </ion-content>
</ion-view>