<ion-side-menus>

  <ion-pane ion-side-menu-content>
   <!--  <ion-nav-bar>

      <div class="seiispimage">
        <img  src="\img\sevenElevenBanner.png"></img>
      </div>


      <ion-nav-back-button class="button-clear icon ion-ios7-arrow-back"></ion-nav-back-button>

    </ion-nav-bar> -->
 <ion-nav-bar class="bar-balanced">
     <button menu-toggle="left" side="left" class="button button-icon icon ion-navicon"></button>
      <ion-nav-back-button class="button-clear">
        <i class="ion-arrow-left-c"></i> Back
      </ion-nav-back-button>
     <div class="col text-right">
       <h2>John Doe</h2>
      </div>
    </ion-nav-bar>
    <!-- main view name -->
  <ion-nav-view name="mainContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-balanced">
      <h1 class="title">SEI</h1>
    </header>
     <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <ion-content class="has-header">
      <ion-list>

      <ion-item nav-clear menu-close class="item-icon-left" ui-sref="app.dashboard" >
      <i class="icon ion-home"></i>Dashboard</ion-item>

      <ion-item nav-clear menu-close class="item-icon-left" ui-sref="app.ordering">
      <i class="icon ion-clipboard"></i>Ordering</ion-item>

      <ion-item nav-clear menu-close class="item-icon-left" ui-sref="app.locations">
      <i class="icon ion-bag"></i> Product Assortment</ion-item>

      <ion-item nav-clear menu-close class="item-icon-left" ui-sref="app.rules"><i class="icon ion-social-usd"></i>
      Cash Management</ion-item>

      <ion-item class="item-icon-left" href="#"><i class="icon ion-beer"></i>Gasoline Management</ion-item>
      </ion-list>



       <ion-item class="item-icon-left" href="#"><i class="icon ion-social-buffer-outline"></i>Inventory Management
        </ion-item>
      </ion-list>
  </ion-side-menu>

</ion-side-menus>